/** Fonts *************************************/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

$font-base: 'Nunito', sans-serif;
$letter-spacing: normal;
$line-height: normal;
$font-weight: 400;
$font-size: 14px;

/** Colors *************************************/
$color-base: #fff;
$color-dark: #13161a;
$color-accent: #30ba0a;

/***************************************/
