@import '../../styles/abstracts/variables';
/*---------------------------------episodes-------------------------------*/
.episodes {
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 534px;

  &__items {
    padding: 0px 0 250px 0;
  }

  &__item {
    position: relative;
    border-bottom: 1px solid #dfdfdf21;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 10px 0 10px 8px;
  }

  &__title {
    color: $color-base;
    font-size: 16px;
    margin: 0 10px 0 0;
  }

  img {
    width: 25px;
  }
}
