.preview {
  position: relative;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;

  &__header {
    padding: 20px 0 15px 0;
  }

  &__wrapper {
    box-shadow: inset 0px 9px 319px 47px #000000;
  }

  &__content {
    position: relative;
    height: calc(100vh - 180px);
  }

  &__asside {
    position: absolute;
    right: 0;
    width: 350px;
    height: 100%;
    margin: -40px 0 0 0;
    overflow: hidden;

    @media only screen and (max-width: 798px) {
      position: relative;
      margin: 0;
      width: 100%;
    }
  }

  &__title {
    @include font-size(30px, 60px);
    color: lighten($color-base, 25%);
  }

  &__close {
    position: absolute;
    right: -40px;
    top: 40px;
    width: 20px;
    cursor: pointer;
    @media only screen and (max-width: 992px) {
      right: 0;
    }

    @media only screen and (max-width: 460px) {
      top: 35px;
      width: 15px;
    }
  }

  &__headline {
    @include font-size(12px, 16px);
    color: $color-base;
    text-transform: uppercase;
    font-weight: 100;
    line-height: 0;
    letter-spacing: 2px;

    @media only screen and (max-width: 1020px) {
      @include font-size(9px, 12px);
    }
  }

  &__options {
    position: relative;
    height: 180px;
    width: 100%;
    background: linear-gradient(90deg, #454444 0%, #0f0f0f 0%, black 100%);
    box-shadow: 0px 20px 151px 159px #000000;
    z-index: 10;

    @media only screen and (max-width: 798px) {
      height: auto;
      padding: 0 0 20px 0;
    }
  }
}
