body {
  height: 100%;
  font-family: $font-base;
  font-size: $font-size;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
