body {
  height: 100%;
  font-family: $font-base;
  font-size: $font-size;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
