@import '../../styles/abstracts/variables';
.player {
  img {
    width: 100%;
  }

  &__preview {
    position: relative;
  }

  &__synopsis {
    border-bottom: 1px solid #dfdfdf21;
    color: $color-base;
    padding: 5px 0 15px 0;
  }

  &__progress {
    position: absolute;
    border: 1px solid #dfdfdf21;
    margin: auto;
    width: 85%;
    bottom: 16px;
    left: 0;
    right: 0;

    &:before {
      position: absolute;
      content: '';
      width: 25%;
      height: 2px;
      top: -1px;
      background-color: $color-accent;
    }
  }
}
