@import '../../styles/abstracts/variables';

.options {
  position: relative;
  color: $color-base;
  padding: 15px 0 10px;

  &__logo {
    position: absolute;
    top: 14px;
    right: 0;
    width: 37px;

    @media only screen and (max-width: 460px) {
      display: none;
    }
  }

  .react-tabs {
    &__tab-list {
      border-bottom: 1px solid #bebebe2e;
      margin: 0 0 10px;
      padding: 0;
    }

    &__tab {
      display: inline-block;
      border-bottom: 1px solid transparent;
      position: relative;
      list-style: none;
      cursor: pointer;
      bottom: -1px;
      padding: 6px 2px;
      font-weight: 700;
      margin: 0 100px 0 0;

      @media only screen and (max-width: 798px) {
        margin: 0 20px 0 0;
        font-size: 12px;
      }

      &--selected {
        border-color: $color-accent;
      }
    }

    &__tab-panel {
      display: none;
      &--selected {
        display: block;
      }
    }
  }
}

.general {
  display: flex;
  align-items: center;
  height: 100px;

  @media only screen and (max-width: 798px) {
    height: auto;
    flex-direction: column;
  }

  &__items {
    display: flex;
    text-align: center;
    margin: 0 -17px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 7px;
    padding: 10px;
    cursor: pointer;
    min-width: 65px;

    @media only screen and (max-width: 460px) {
      min-width: auto;
      margin: 5px 7px;
      padding: 4px;
    }

    img {
      width: 33px;
      @media only screen and (max-width: 460px) {
        width: 22px;
      }
    }

    span {
      font-size: 12px;
      margin: 5px 0 0 0;
      color: darken($color-base, 40%);
    }
  }

  &__info {
    margin: 0 0 0 40px;

    @media only screen and (max-width: 798px) {
      margin: 5px 0 0 0;
    }

    h4 {
      text-transform: uppercase;
      @media only screen and (max-width: 798px) {
        font-size: 12px;
      }
    }

    p {
      font-size: 16px;
      @media only screen and (max-width: 798px) {
        font-size: 13px;
      }
    }
  }
}
