@import '../../styles/abstracts/variables';

.options {
  position: relative;
  color: $color-base;
  padding: 15px 0 10px;

  &__logo {
    position: absolute;
    top: 14px;
    right: 0;
    width: 37px;
  }
}

.react-tabs {
  &__tab-list {
    border-bottom: 1px solid #bebebe2e;
    margin: 0 0 10px;
    padding: 0;
  }

  &__tab {
    display: inline-block;
    border-bottom: 1px solid transparent;
    position: relative;
    list-style: none;
    cursor: pointer;
    bottom: -1px;
    padding: 6px 2px;
    font-weight: 700;
    margin: 0 100px 0 0;

    &--selected {
      border-color: $color-accent;
    }
  }

  &__tab-panel {
    display: none;
    &--selected {
      display: block;
    }
  }
}

.general {
  display: flex;
  height: 125px;
  align-items: center;

  &__items {
    display: flex;
    text-align: center;
    margin: 0 -17px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 7px;
    padding: 10px;
    cursor: pointer;
    min-width: 65px;

    img {
      width: 33px;
      &:hover {
        fill: black;
      }
    }

    span {
      font-size: 12px;
      margin: 5px 0 0 0;
      color: darken($color-base, 40%);
    }
  }

  &__info {
    margin: 0 0 0 40px;

    h4 {
      text-transform: uppercase;
    }

    p {
      font-size: 16px;
    }
  }
}
